body {
    margin: 0;
    background-color: peachpuff;
}

nav {
    padding: 10px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    padding: 10px 15px;
    border: solid black 3px;
    border-radius: 30px;
    background-color: lightgreen;
}